/* font style  */
@font-face {
    font-family: Sanchez-Regular;
    src: url(../fonts/Sanchez-Regular.ttf);
}

/* universal */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Sanchez-Regular;
    text-decoration: none;
}

/* color  */
:root {
    --primary-color: #3174B4;
    --secondary-color: #37B6AB;
    --light-color: #fff;
    --dark-color: #191E2D;
    --blue-color: #3F87B9;
}

/* top bar start  */
.container-1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 25px 0px 16px;
    
}


.logo img {
    width: 110px;
}

.socials {
    display: flex;
    align-items: center;
    word-spacing: 3px;
   
}

.fa-solid {
    color: var(--secondary-color);
    padding-right: 5px;
}

.tel {
    color: var(--secondary-color);
    font-size: 14px;
}

.icon a i {
    display: inline-block;
    font-size: 12px;
    background: var(--primary-color);
    color: var(--light-color);
    border-radius: 50%;
    padding: 10px;
    margin: -2px;
}

.icon a i:hover {
    background: var(--secondary-color);
}

.icon {
    margin-left: 25px;
}

/* top bar end */
/* main menu start  */
.main-menu {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    margin-top: 30px;
    
    
    

}

   


.menu ul li {
    display: inline;
    margin: 0px 10px;
    padding-left: 20px;
    font-weight: 200;
    color: var(--dark-color);
    font-size: 15px;
}

.menu ul :hover {
    color: var(--secondary-color);
}

.button {
    display: inline-block;


}

.button a {

    background: var(--secondary-color);
    padding: 15px 35px;
    border-radius: 30px;
    font-size: 15px;
    color: var(--light-color);
    transition: background-color .5s ease-in-out .5s;

}

.button a:hover {
    background: var(--primary-color);
}

/* main menu end */
/* banner start  */
@keyframes banner {
    from {
        background-image: url(../Image/banner.jpg);
    }
    to {
        background-image: url(../Image/bg1.jpg);
    }

}
.banner {
    background: url(../Image/banner.jpg) no-repeat;
    width: 100%;
    height:90vh;
    background-size: cover;
    margin-top: 30px;
    animation-name: banner; 
    animation-duration:6s ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;

}

.banner .head-1 {
    padding-top: 220px;
    padding-left: 220px;
    font-size: 40px;
    color: var(--light-color);
}

.para {
    padding-left: 220px;
    font-size: 25px;
    color: var(--light-color);
    padding-top: 10px;
}


.button-2 {
    display: inline-block;
    font-size: 17px;
    color: var(--primary-color);
    margin-left: 250px;
    margin-top: 40px;
    transition: background-color 0.5s ease-in-out .5s;
    

}

.button-2:hover {
    background: var(--light-color);
}

.button-2 {
    border: 1px solid var(--light-color);
    padding: 15px 35px;
    border-radius: 30px;
    
}

/* banner end */
/* social icons start  */
.social-icon {
    height: 80px;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}

.social-icon .fas:hover {
    background: var(--primary-color);
}

.social-icon a .fas {
    transition: background-color .5s ease .5s;
}

.social-icon .fas {
    width: 50px;
    background: var(--secondary-color);
    color: var(--light-color);
    margin: 2px 0px;
    padding: 15px;


}

/* social icons end */
/* body section start   */
.body-part-1 {
    width: 100%;
    min-height: 360px;
    background: var(--blue-color);
    display: inline-block;
}

.body-part-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.long-term {
    width: 85px;
    height: 85px;
    background: var(--light-color);
    border-radius: 50%;
}

.skilled {
    width: 85px;
    height: 85px;
    background: var(--light-color);
    border-radius: 50%;
}

.pediatric {
    width: 85px;
    height: 85px;
    background: var(--light-color);
    border-radius: 50%;
}

.mantal {
    width: 85px;
    height: 85px;
    background: var(--light-color);
    border-radius: 50%;
}

.stroke {
    width: 85px;
    height: 85px;
    background: var(--light-color);
    border-radius: 50%
}

.soli {
    font-size: 35px;
    color: var(--primary-color);
    padding-top: 22px;
}

.body-part-1 .doc {
    transition: background-color .5s ease-in-out .5s;
}

.doc:hover {
    background: var(--secondary-color);
}

.doc {
    margin: 0px -150px;
    margin-bottom: 90px;
}

.anchor {
    display: inline-block;
    padding-top: 50px;
    color: var(--light-color);
    white-space: nowrap;
}

.anchor {
    margin-left: -17px;
}

.anchor:hover {
    color: var(--secondary-color);
}

.anchor {
    transition: color .5s ease-in-out .5s;
}

.fa-caret-down {
    color: var(--light-color);
    margin-top: -20px;
}

.paragraph {
    width: 100px;
    color: var(--light-color);
    white-space: nowrap;
    margin-left: -50px;
    font-size: 13px;
}

small {
    font-size: 13px;
    margin-left: 34px;
}

.body-part-2 {
    width: 100%;
    height: 500px;
    background: url(../Image/bg1.jpg) no-repeat;
    background-position: -120px;
}


.ic-on-1 {
    padding-left: 780px;
    padding-top: 90px;
    font-size: 35px;
    display: inline-block;
}

.ic-on-2 {
    color: var(--dark-color);
   
}

.head-2 {
    font-size: 25px;
    margin-bottom:-50px ;
    display: inline-block;
}
.head-2 h2 {
    font-weight: 300;
    padding-top: -100px;
    padding-bottom: 40px;
    
}

.pa-ra-1 {
    padding-left: 833px;
    padding-top: 20px;
    font-size: 22px;
    font-weight: 10;
    line-height: 1.5;
}
.hr-ef {
     padding-left: 833px;
     padding-top: 40px;
     font-size:22px ;
     display: inline-block;
}
.hr-ef a {
    color: var(--dark-color);
}
.hr-ef a:hover {
    color: var(--secondary-color);
}
.sign {
    display: inline-block;
    padding-left:30px ;
}
.sign img {
    margin-bottom: -17px;
}
/* body section end   */
/* footer starts */

.footer-1 {
    background-color: #3F87B9;
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: space-around;    
}



.box-18 {
    margin-top: 40px;
    margin-left: -60px;
  }
  .box-18 h1 {
    font-size: 32px;
    font-weight: normal;
    padding-bottom: 20px;
    color: white;
  }
  .box-18 p {
    font-size: 16px;
    font-weight: 300;
    color: white;
  }
  .box-18 h3 {
    font-size: 20px;
    font-weight: normal;
    padding-top: 15px;
    color: white;
  }
  .box-18 a {
    font-size: 17px;
    color: white;
  }
  .box-19 a i {
    padding: 20px 10px;
    font-size: 24px;
  }
  .box-19 a i:hover {
    color:black;
  }
  .box-18 a:hover {
    color:black;
  }
  .box-20 h1 {
    font-size: 32px;
    font-weight: normal;
    padding-bottom: 20px;
    color: white;
  }
  .box-20 p {
    font-size: 16px;
    font-weight: 300;
    color: white;
  }
  .box-20 {
    margin-top: 40px;
    margin-right: 40px;
  }
  .box-20 input {
    font-size: 18px;
  }
  .box-21 a {
    font-size: 20px;
    color: white;
    border: 2px solid black;
    padding: 10px 15px;
    background-color: black;
    border-radius: 15px;
  }
  .box-21 a:hover {
    background-color: var(--secondary-color);
    transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease;
  }
  .box-20 textarea {
    margin-bottom: 20px;
  }



.footer-2 {
    background-color: rgb(220, 216, 216);
    width: 100%;
    height: 100px;
    display: flex;
  justify-content: space-around;
}


.box-22 p {
    font-size: 18px;
    color: #003cff;
    margin: 50px 20px;
    margin-left: -60px;
    
  }
  .box-22 p:hover {
    color: white;
  }
  .box-23 {
    font-size: 18px;
    color: #031ae9;
    margin: 50px 20px;
    
  }
  .box-23 p a {
    color:black;
  }
  .box-23 p a:hover {
    color: white;
    transition-property: color;
    transition-duration: 2s;
    transition-timing-function: ease;
    text-decoration: underline;
  }
/* footer ends */
